:root {
    --main-color: #4e9af1;
    --highlight: #ffe066;
    --bg: #f4f4f4;
    --text: #222;
    --border-radius: 6px;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background: var(--bg);
    color: var(--text);
    padding: 2rem;
  }
  
  a {
    color: var(--main-color);
    text-decoration: none;
  }
  
  ul {
    list-style: none;
    padding-left: 1rem;
  }



  /** End of template styles ..*/

  .hotspot-wrapper {
    position: relative;
    display: inline-block;
  }


  .hotspot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #004c93;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
  }

  .tooltip-box {
    position: absolute;
    max-width: 250px;
    background: #fff;
    color: #000;
    padding: 0.75rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: none;
    z-index: 100;
    font-size: 0.9rem;
  }